<style>
.link-card {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* 以下はお好みで */
    border:solid 2px rgba(0,0,0,0.15);
    border-radius:5px;
  }
  
  /* マウスホバー時の挙動 */
  .link-card:hover {
    opacity: 0.6;
    transition: 0.1s;
  }
  
  .link-card-title {
    font-weight: bold;
    margin-bottom: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .link-card-hostname {
    display: flex;
    align-items: center;
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .link-card-hostname-img {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .link-card-hostname-img img {
    max-height: 100%;
    width: auto;
    margin-right: 1em;
  }
  
  .link-card-hostname span {
    font-size: 0.9em;
  }
</style>